# # need to move authen info to jenkins stag
# //https://nexus-onprem.msb.com.vn/repository/npm-snapshot-msb/:_authToken=bW9kZWwtYXBwOnhNcEN6R0dpaFB0MDhJVA==
# //https://nexus-onprem.msb.com.vn/repository/npm-release-msb/:_authToken=bW9kZWwtYXBwOnhNcEN6R0dpaFB0MDhJVA==
 
//localhost:8081/repository/npm-snapshots/:_auth=YWRtaW46MzQ1N2Y2YmUtMzU1NC00OWQ0LTg3N2ItN2E4ODA5MTAyYjI1
//localhost:8081/repository/npm-releases/:_auth=YWRtaW46MzQ1N2Y2YmUtMzU1NC00OWQ0LTg3N2ItN2E4ODA5MTAyYjI1