# # need to move authen info to jenkins stag
# //https://nexus-onprem.msb.com.vn/repository/npm-snapshot-msb/:_authToken=bW9kZWwtYXBwOnhNcEN6R0dpaFB0MDhJVA==
# //https://nexus-onprem.msb.com.vn/repository/npm-release-msb/:_authToken=bW9kZWwtYXBwOnhNcEN6R0dpaFB0MDhJVA==
 
//localhost:8081/repository/npm-snapshots/:_auth=YWRtaW46ZWU1ODVjN2ItNTA5Ny00MzY0LTg3YWUtOGE0OWEwYzkyNDIy
//localhost:8081/repository/npm-releases/:_auth=YWRtaW46ZWU1ODVjN2ItNTA5Ny00MzY0LTg3YWUtOGE0OWEwYzkyNDIy